
<div class="issue-heading">
  <div class="container">
    <%= @article.title %>
      </div>
</div>
<div class="container">
  <div class="replies">
    <article class="reply clearfix">
      <div class="avatar">
        <img src="http://gravatar.com/avatar/a92785d8d68f1d1d83b008574f8b5dba.png?s=512&amp;d=retr" alt="" class="image-circle">
      </div>
      <div class="body">
        <div class="heading">
          <h5 class="name"><a href="#">happypeter</a></h5>
        </div>
        <%= @article.content %>
      </div>
    </article>
  </div>
</div>