	<% articles.each do |i| %>
	
		<div class="container">
			<div class="article_detail">
				<h1><%= link_to i[:title],"/articles/#{i.id}" %></h1>
				<p><%= link_to i[:content]%></p>
				<p class="time">2016年01月10日 12:50</p>
			</div>
		</div>

	<% end %>