
	<div class="content_image"><img src='<%= image_url 'bg2.jpg' %>'>
		<div class="content_content">
			<h1>THIS'S MY BLOG</h1>
			<p>想到什么就写什么</p>	
		</div>
		<div class="content_button"><a href="/articles/new"><button style="cursor: pointer">查看我的文章</button></a></div>
	</div>
	<div class="my_article">
		<div class="container">
			<div class="article_title">
				<h1>我的文章</h1>
				<h1>都在这里了</h1>
				<i></i>
			</div>
		</div>
	</div>
	<div class="article">
	<%= render partial: 'issue_list', locals: { articles: @articles } %>
	</div>
